.btnReg {
  width: 150px;
}

.regTitle {
  margin-bottom: 20px;
}
.mainForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formInput {
  display: flex;
  flex-direction: column;
}
.input {
  margin-top: 10px;
  width: 300px;
}
