.loginTitle {
  margin-bottom: 20px;
}

.btnLogin {
  width: 150px;
  margin-left: 15px;
  background-color: rgb(93, 93, 236);
  border-radius: 40px;
  border: none;
  padding: 6px;
  transition: background-color 250ms ease-in-out;
  cursor: pointer;
  margin-top: 10px;
}
.btnLogin:hover {
  background-color: rgb(104, 104, 230);
}
.mainForm {
  display: flex;
  flex-direction: column;
}
.loginLabel {
  display: flex;
  flex-direction: column;
}
.input {
  width: 300px;
  margin-top: 10px;
}
