.loginTitle {
  margin-bottom: 20px;
}

.btnLogin {
  width: 150px;

  margin-top: 10px;
}

.mainForm {
  display: flex;
  flex-direction: column;
}
.loginLabel {
  display: flex;
  flex-direction: column;
}
.input {
  width: 300px;
  margin-top: 10px;
}
