.navigation {
  display: flex;
  gap: 8px;
  padding-top: 10px;
}
.link {
  color: black;
  text-decoration: none;
  padding: 8px 4px;
}
.active {
  color: white;
  background-color: rgb(151, 151, 240);
}
