.contactItemContainer {
  display: flex;
  gap: 20px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px 4px;
  width: 300px;
}

.nameContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.numberContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.btnContact {
  width: 150px;
  margin-left: 15px;
  background-color: rgb(93, 93, 236);
  border-radius: 40px;
  border: none;
  padding: 6px;
  transition: background-color 250ms ease-in-out;
  cursor: pointer;
  margin-top: 10px;
}
.btnContact:hover {
  background-color: rgb(104, 104, 230);
}
