.contactItemContainer {
  display: flex;
  gap: 20px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 14px 14px;
  width: 300px;
}

.nameContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.numberContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.btnContact {
  cursor: pointer;
  margin-top: 10px;
}
